# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Python
* SQL
* R

Some of the popular languages that Data Scientists use are:

 1. Python
 2. R
 3. SQL

Some of the commonly used libraries used by Data Scientists include:

 1. Pandas
 2. Numpy
 3. Marplolib

| Data Science Tools |
|----------------------|
| jupyter Notebook |
| RStudio |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [6]:
hours = 200 // 60

In [7]:
print (hours)

3

## Author
rehab almahdawi